@model IEnumerable<Basket_Exam.Models.ViewModels.ShowOrderViewModel>
@{
    ViewData["Title"] = "نمایش فاکتور";
    int row = 1;
}
<h1 class="mb-3">نمایش فاکتور</h1>
<hr />
<table class="table table-bordered text-center align-middle">
    <thead class="table-light">
        <tr>
            <th>#</th>
            <th>تصویر</th>
            <th>عنوان</th>
            <th>تعداد</th>
            <th>قیمت</th>
            <th>جمع</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@row</td>
                <td>
                    <img style="max-width: 150px" class="img-thumbnail" src="/Images/@item.ImageName" />
                </td>
                <td>@item.Title</td>
                <td>@item.Count</td>
                <td>@item.Price.ToString("#,0 تومان")</td>
                <td>@item.Sum.ToString("#,0 تومان")</td>
                <td>
                    <a class="btn btn-sm btn-success" href="/Orders/Command/@item.OrderDetailId?command=up">افزایش</a>
                    <a class="btn btn-sm btn-warning" href="/Orders/Command/@item.OrderDetailId?command=down">کاهش</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-controller="Orders" asp-route-id="@item.OrderDetailId">حذف</a>
                </td>
            </tr>
            row += 1;
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" class="text-end fw-bold">جمع کل:</td>
            <td colspan="2">@Model.Sum(s => s.Sum).ToString("#,0 تومان")</td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td colspan="3">
                <a class="btn btn-primary w-100" asp-action="Payment" asp-controller="Orders">تایید و پرداخت نهایی</a>
            </td>
        </tr>
    </tfoot>
</table>
